node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
data/stacks
data/config
db.sqlite*
.github
.claude
.cta.json
.ox*rc.json
components.json
README.md
renovate.json
.cta.json
