**/node_modules
**/.env
**/.DS_Store
**/dist
*.local
.tanstack
todos.json
data
db.sqlite*
bin
.git
.github
.gitignore
README.md
renovate.json
wiki/*
!wiki/package.json
internal/server/web-dist
stacks
justfile
.golangci*
Dockerfile
.dockerignore
AGENTS.md
.vscode
.idea
.claude
.opencode
